<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- 쿠키필터 -->
    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>kr.co.kmarket.filter.CookieFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 로그인 여부 체크 필터 등록 -->
    <filter>
        <filter-name>CheckLoginFilter</filter-name>
        <filter-class>kr.co.kmarket.filter.CheckLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/product/cart*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/product/order*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/product/complete*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CheckAdminFilter</filter-name>
        <filter-class>kr.co.kmarket.filter.CheckAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckAdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>




    <!-- 인코딩 필터 등록 -->
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CateFilter</filter-name>
        <filter-class>kr.co.kmarket.filter.CateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CsCateFilter</filter-name>
        <filter-class>kr.co.kmarket.filter.CsCateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CsCateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>